/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blogpost-app{
    width: 50%;
    height: 100%;
    margin-left: 23%;
    position: absolute;
    overflow: auto;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.app-icon {
    cursor: pointer;
    padding-left: 20px;
}

.app-post{
    margin: 10px;
}

.app-icon-align-right{
    text-align: right
}

.app-toolbar-fixed-top{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.spacer {
    flex: 1 1 auto;
}

.app-header-icon{
    cursor: pointer;
}

.app-form-strech{
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

@media only screen and (max-width: 650px) {
  .blogpost-app {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    position: absolute;
    overflow: auto;  
  }
}

.app-logo-align{
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 20%;
    padding: 11px;
}
.app-logo{
    text-align: center;
}
.app-margin-right{
    padding-right: 20px;
}
.app-class-error{
    font-weight: 100;
    font-style: oblique;
    font-size: smaller;
    color: red;
}